<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pentago!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <form method="GET" action="/game">
          <div class="form-inline">
            <div class="form-group">
              <label>Player 1</label>
              <select class="form-control" name="player1">
                <option value="2"<%= if @conn.params["player1"] == "2" do %> selected<% end %>>Human</option>
                <option value="0"<%= if @conn.params["player1"] == "0" do %> selected<% end %>>NegaMax</option>
                <option value="1"<%= if @conn.params["player1"] == "1" do %> selected<% end %>>NegaMax AB</option>
              </select>
            </div>
            <div class="form-group">
              <label>Evaluation</label>
              <select class="form-control" name="eval1">
                <option value="1"<%= if @conn.params["eval1"] == "1" do %> selected<% end %>>In row</option>
                <option value="0"<%= if @conn.params["eval1"] == "0" do %> selected<% end %>>In row when clear</option>
                <option value="2"<%= if @conn.params["eval1"] == "2" do %> selected<% end %>>5 in row</option>
                <option value="3"<%= if @conn.params["eval1"] == "3" do %> selected<% end %>>Stright five</option>
              </select>
            </div>
            <div class="form-group">
              <label>Moves</label>
              <select class="form-control" name="mg1">
                <option value="0"<%= if @conn.params["mg1"] == "0" do %> selected<% end %>>Normal</option>
                <option value="1"<%= if @conn.params["mg1"] == "1" do %> selected<% end %>>Sorted</option>
              </select>
            </div>

            <div class="form-group">
              <label>Depth</label>
              <select class="form-control" name="depth1">
                <option<%= if @conn.params["depth1"] == "1" do %> selected<% end %>>1</option>
                <option<%= if @conn.params["depth1"] == "2" do %> selected<% end %>>2</option>
                <option<%= if @conn.params["depth1"] == "3" do %> selected<% end %>>3</option>
                <option<%= if @conn.params["depth1"] == "4" do %> selected<% end %>>4</option>
                <option<%= if @conn.params["depth1"] == "5" do %> selected<% end %>>5</option>
                <option<%= if @conn.params["depth1"] == "6" do %> selected<% end %>>6</option>
              </select>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>Player 2</label>
              <select class="form-control" name="player2">
                <option value="2"<%= if @conn.params["player2"] == "2" do %> selected<% end %>>Human</option>
                <option value="0"<%= if @conn.params["player2"] == "0" do %> selected<% end %>>NegaMax</option>
                <option value="1"<%= if @conn.params["player2"] == "1" do %> selected<% end %>>NegaMax AB</option>
              </select>
            </div>
            <div class="form-group">
              <label>Evaluation</label>
              <select class="form-control" name="eval2">
                <option value="1"<%= if @conn.params["eval2"] == "1" do %> selected<% end %>>In row</option>
                <option value="0"<%= if @conn.params["eval2"] == "0" do %> selected<% end %>>In row when clear</option>
                <option value="2"<%= if @conn.params["eval2"] == "2" do %> selected<% end %>>5 in row</option>
                <option value="3"<%= if @conn.params["eval2"] == "3" do %> selected<% end %>>Stright five</option>
              </select>
            </div>
            <div class="form-group">
              <label>Moves</label>
              <select class="form-control" name="mg2">
                <option value="0"<%= if @conn.params["mg2"] == "0" do %> selected<% end %>>Normal</option>
                <option value="1"<%= if @conn.params["mg2"] == "1" do %> selected<% end %>>Sorted</option>
              </select>
            </div>

            <div class="form-group">
              <label>Depth</label>
              <select class="form-control" name="depth2">
                <option<%= if @conn.params["depth2"] == "1" do %> selected<% end %>>1</option>
                <option<%= if @conn.params["depth2"] == "2" do %> selected<% end %>>2</option>
                <option<%= if @conn.params["depth2"] == "3" do %> selected<% end %>>3</option>
                <option<%= if @conn.params["depth2"] == "4" do %> selected<% end %>>4</option>
                <option<%= if @conn.params["depth2"] == "5" do %> selected<% end %>>5</option>
                <option<%= if @conn.params["depth2"] == "6" do %> selected<% end %>>6</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Play</button>
            </div>
          </div>
        </form>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
