<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pentago!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/components.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <form class="form-inline" method="GET" action="/game">
          <div class="form-group">
            <label for="exampleInputName2">Player 1</label>
            <select class="form-control" name="player1">
              <option value="human">Human</option>
              <option value="minimax">MiniMax</option>
              <option value="alphabeta">AB</option>
              <option value="ab_sorted">AB sorted</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName2">Player 2</label>
            <select class="form-control" name="player2">
              <option value="human">Human</option>
              <option value="minimax">MiniMax</option>
              <option value="alphabeta">AB</option>
              <option value="ab_sorted">AB sorted</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName2">Depth</label>
            <select class="form-control" name="depth">
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>

          <button type="submit" class="btn btn-default">Play</button>
        </form>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
