<div>
    <%= if winner?(@board), do: "Winner #{@board.winner}" %>
  <div id="board">
    <%= board(@board, @selected) %>
    <%= if @lock do %>
      <div class="lock">
        <p>
        <%= @lock %>
        </p>
      </div>
    <% end %>
    <%= if @make_move do %>
      <%= for sub_board <- ["top_left", "top_right", "bottom_left", "bottom_right"], rotation <- ["clockwise", "counter_clockwise"], do: rotate_button(sub_board, rotation) %>
    <% end %>
  </div>
</div>
